body {
    margin:0;
    padding:0;
    color:#444A54;
    background-color:#1F2430;
    font-family: Consolas, monaco, monospace;
    align-items: center;
    width:100%;
}
a:hover {
    color:#FFFFFF;
}
a {
    color:#805D23;
}
#content {
    margin-right:10%;
    margin-left:10%;
    margin-bottom:20px;
    padding:30px;
    background-color:#1F2430;
    border-style:solid;
    border-width:1px;
    border-top:none;
}
#footer {
    padding:2%;
    text-align:center;
    border-style:solid;
    background-color: #1F2430;
    border-top:1px,#444A54;
    border-bottom:none;
    border-left:none;
    border-right:none;
}

/*
#1F2430 - Content Background Dark Blue
#805D23 - Link Color
#444A54 - Border Color
#D5FF80 - Green (maybe use?)